body {
    color: rgb(34, 34, 34);
    background-color: whitesmoke;
    font-family: Georgia, serif;
}

h1 {
    color:teal;
    background-color: whitesmoke;
    font-family: 'Style Script', cursive;
}

h2 {
    color:rgb(61, 238, 238); 
    background-color: whitesmoke;
    font-family: 'Style Script', cursive;
}

nav {background-color: gray;}

nav a {color: whitesmoke}
nav {color: whitesmoke}

nav a:hover {background-color: rosybrown;}