body {
    color: rgb(34, 34, 34);
    background-color: rgb(212, 211, 211)ke;
    font-family: Georgia, serif;
}

h1 {
    color:teal;
    background-color: rgb(212, 211, 211);
    font-family: 'Style Script', cursive;
}

h2 {
    color:rgb(4, 77, 77); 
    background-color: rgb(212, 211, 211);
    font-family: 'Style Script', cursive;
}

nav {
    padding: 10px;
    margin-bottom: 30px;
    background-color: rgb(49, 47, 47);
}

nav a {color: rgb(212, 211, 211)}
nav {color: rgb(211, 211, 212)}

nav a:hover {background-color: rgb(73, 146, 146);}

div {
    border: 1px solid rgb(61, 238, 238);
    margin: 30px;
    padding: 50px;
    background-color: white;
    border-radius: 25px;
}